<h3 class="text-center">Welcome to iWatch Emergency Alerts</h3>
<br>
<p class="text-center">iWatch Emergency Alert system is a public broadcast system for emergency alerts. iWatch users can subscribe to the system and receive emergency alerts related to events around them on thier iWatch. Alerts can be viewed and dismissed. The user can hit refresh to pull out newer alerts.</p>
